
################################################
## import name space
################################################

importFrom("graphics",
           "lines",
           "plot",
           "points",
           "grid",
           "title",
           "axis",
           "box",
           "par",
           "plot.new",
           "plot.window",
           "segments",
           "axis.POSIXct",
           "layout",
           "mtext",
           "plot.default",
           "text",
           "abline")
importFrom("grDevices",
           "xy.coords")
importFrom("methods",
           "cbind2",
           "coerce",
           "getDataPart",
           "initialize",
           "rbind2",
           "setDataPart",
           "show",
           "@<-",
           "is",
           "slot",
           "setOldClass",
           "slotNames",
           "as",
           "new")
importFrom("stats",
           "aggregate",
           "as.ts",
           "end",
           "lag",
           "na.omit",
           "start",
           "time",
           "window",
           "approx",
           "rnorm",
           "runif",
           "median",
           "qt",
           "quantile",
           "var",
           "dist",
           "hclust",
           "ts",
           "cor",
           "is.mts")
importFrom("timeDate",
           "align",
           "finCenter<-",
           "finCenter",
           "getRmetricsOptions",
           "julian",
           "timeSequence",
           "isWeekday",
           "timeDate",
           "as.timeDate",
           "timeFirstDayInMonth",
           "timeFirstDayInQuarter",
           "timeLastDayInMonth",
           "timeLastDayInQuarter",
           "timeCalendar",
           "kurtosis",
           "skewness",
           "setRmetricsOptions",
           "atoms",
           "sample")
importFrom("utils",
           "head",
           "str",
           "tail",
           "read.table")

################################################
## S4 classes
################################################

exportClasses("index_timeSeries",
              "timeSeries" )
export("colCummaxs",
        "colCummins",
        "colCumprods",
        "colCumreturns",
        "colCumsums",
        "outlier",
        "returns",
        "rowCumsums",
        "series<-",
        "series",
        "timeSeries" )
exportMethods("aggregate",
              "align",
              "apply",
              "as.data.frame",
              "as.list",
              "as.matrix",
              "as.ts",
              "attach",
              "[<-",
              "[",
              "$",
              "cbind2",
              "coerce",
              "colMeans",
              "colnames<-",
              "colnames",
              "colSums",
              "comment<-",
              "comment",
              "cummax",
              "cummin",
              "cumprod",
              "cumsum",
              "cut",
              "diff",
              "dim<-",
              "dim",
              "dimnames<-",
              "dimnames",
              "end",
              "finCenter<-",
              "finCenter",
              "getDataPart",
              "head",
              "initialize",
              "is.na",
              "is.unsorted",
              "lag",
              "lines",
              "merge",
              "names<-",
              "names",
              "na.omit",
              "Ops",
              "plot",
              "points",
              "print",
              "rank",
              "rbind2",
              "rev",
              "rownames<-",
              "rownames",
              "sample",
              "scale",
              "setDataPart",
              "show",
              "sort",
              "start",
              "str",
              "tail",
              "time",
              "window" )

################################################
## S3 classes
################################################

S3method("as.data.frame", "timeSeries")
S3method("as.matrix", "timeSeries")
S3method("as.timeSeries", "character")
S3method("as.timeSeries", "data.frame")
S3method("as.timeSeries", "default")
S3method("as.timeSeries", "zoo")
S3method("cbind", "timeSeries")
S3method("cumulated", "default")
S3method("lines", "timeSeries")
S3method("plot", "timeSeries")
S3method("points", "timeSeries")
S3method("rbind", "timeSeries")
S3method("str", "timeSeries")
S3method("time<-", "timeSeries")

################################################
## functions
################################################

export(
    "aggregate.timeSeries",
    "alignDailySeries",
    ".align.timeSeries",
    "applySeries",
    ".applySeries",
    "as.list.timeSeries",
    "as.timeSeries",
    "as.ts.timeSeries",
    "colAvgs",
    "colKurtosis",
    "colMaxs",
    "colMins",
    "colProds",
    "colQuantiles",
    "colSds",
    "colSkewness",
    "colStats",
    "colStdevs",
    "colVars",
    "countMonthlyRecords",
    "cumulated",
    "cut.timeSeries",
    "description",
    ".description",
    "diff.timeSeries",
    "drawdowns",
    "drawdownsStats",
    "dummyDailySeries",
    "dummySeries",
    "durations",
    "durationSeries",
    ".endOfPeriodBenchmarks",
    ".endOfPeriodSeries",
    ".endOfPeriodStats",
    "end.timeSeries",
    ".extract.turnpointsPastecs",
    "fapply",
    ".fapply",
    ".findIndex",
    "getReturns",
    "hclustColnames",
    "head.timeSeries",
    "interpNA",
    "isMonthly",
    "isMultivariate",
    "is.signalSeries",
    "is.timeSeries",
    "isUnivariate",
    "lag.timeSeries",
    "merge.timeSeries",
    "midquotes",
    "midquoteSeries",
    ".naOmitMatrix",
    "na.omit.timeSeries",
    "newPositions<-",
    "ohlcDailyPlot",
    ".old2newRda",
    ".old2newTimeSeries",
    "orderColnames",
    "orderStatistics",
    "pcaColnames",
    ".plotOHLC",
    ".plotTimeSeries",
    ".plot.turnpointsPastecs",
    ".print.timeSeries",
    "readSeries",
    "removeNA",
    "returnSeries",
    "rev.timeSeries",
    "rollDailySeries",
    "rollMonthlySeries",
    "rollMonthlyWindows",
    "sampleColnames",
    "scale.timeSeries",
    "seriesData",
    "seriesPositions",
    ".signalCounts",
    ".signalSeries",
    "sortColnames",
    "sort.timeSeries",
    "spreads",
    "spreadSeries",
    "start.timeSeries",
    "statsColnames",
    ".subset_timeSeries",
    "substituteNA",
    ".summary.turnpointsPastecs",
    "tail.timeSeries",
    "time<-",
    ".timeSeries",
    "time.timeSeries",
    ".turnpoints",
    ".turnpointsPastecs",
    ".turnpointsSeries",
    ".turnpointsStats",
    "window.timeSeries" )
