
################################################
## import name space
################################################

importFrom("graphics",
           "plot",
           "lines",
           "points",
           "grid",
           "title",
           "axis",
           "box",
           "par",
           "plot.new",
           "plot.window",
           "segments",
           "axis.POSIXct",
           "layout",
           "mtext",
           "plot.default",
           "text",
           "abline")
importFrom("grDevices",
           "xy.coords")
importFrom("methods",
           "cbind2",
           "coerce",
           "rbind2",
           "show",
           "@<-",
           "is",
           "slot",
           "new",
           "slot<-")
importFrom("stats",
           "as.ts",
           "model.frame",
           "window",
           "aggregate",
           "end",
           "lag",
           "na.omit",
           "quantile",
           "start",
           "time",
           "approx",
           "rnorm",
           "runif",
           "median",
           "qt",
           "var",
           "dist",
           "hclust",
           "ts",
           "cor",
           "is.mts")
importFrom("timeDate",
           "finCenter<-",
           "finCenter",
           "getRmetricsOptions",
           "julian",
           "timeSequence",
           "isWeekday",
           "timeDate",
           ".by2seconds",
           "as.timeDate",
           "timeFirstDayInMonth",
           "timeFirstDayInQuarter",
           "timeLastDayInMonth",
           "timeLastDayInQuarter",
           "whichFormat",
           "timeCalendar",
           "kurtosis",
           "skewness",
           "atoms",
           "sample",
           "setRmetricsOptions")
importFrom("utils",
           "head",
           "str",
           "tail",
           "read.table")

################################################
## S4 classes
################################################

exportClasses("index_timeSeries",
              "timeSeries" )
export("outlier",
        "returns",
        "rowCumsums",
        "series<-",
        "series" )
exportMethods("aggregate",
              "attach",
              "[<-",
              "[",
              "cbind2",
              "coerce",
              "colnames<-",
              "comment<-",
              "comment",
              "cummax",
              "cummin",
              "cumprod",
              "cumsum",
              "diff",
              "dim",
              "dimnames<-",
              "dimnames",
              "end",
              "finCenter<-",
              "finCenter",
              "head",
              "is.na",
              "lag",
              "lines",
              "merge",
              "na.omit",
              "Ops",
              "points",
              "print",
              "quantile",
              "rbind2",
              "rev",
              "rownames<-",
              "sample",
              "scale",
              "show",
              "sort",
              "start",
              "str",
              "tail",
              "time" )

################################################
## S3 classes
################################################

S3method("as.data.frame", "timeSeries")
S3method("as.matrix", "timeSeries")
S3method("as.timeSeries", "character")
S3method("as.timeSeries", "data.frame")
S3method("as.timeSeries", "default")
S3method("as.timeSeries", "zoo")
S3method("as.ts", "timeSeries")
S3method("colCummaxs", "default")
S3method("colCummaxs", "timeSeries")
S3method("colCummins", "default")
S3method("colCummins", "timeSeries")
S3method("colCumprods", "default")
S3method("colCumprods", "timeSeries")
S3method("colCumreturns", "default")
S3method("colCumreturns", "timeSeries")
S3method("colCumsums", "default")
S3method("colCumsums", "timeSeries")
S3method("cumulated", "default")
S3method("cut", "timeSeries")
S3method("model.frame", "timeSeries")
S3method("plot", "timeSeries")
S3method("time<-", "timeSeries")
S3method("window", "timeSeries")

################################################
## functions
################################################

export(
    "alignDailySeries",
    ".align.timeSeries",
    ".align.timeSeries.old",
    "applySeries",
    ".applySeries",
    ".assign_timeSeries",
    "as.timeSeries",
    "colAvgs",
    "colCummaxs",
    "colCummins",
    "colCumprods",
    "colCumreturns",
    "colCumsums",
    "colKurtosis",
    "colMaxs",
    "colMins",
    "colProds",
    "colQuantiles",
    "colSds",
    "colSkewness",
    "colStats",
    "colStdevs",
    "colVars",
    "countMonthlyRecords",
    "cumulated",
    "description",
    ".description",
    "drawdowns",
    "drawdownsStats",
    "dummyDailySeries",
    "dummySeries",
    "durations",
    "durationSeries",
    ".endOfPeriodBenchmarks",
    ".endOfPeriodSeries",
    ".endOfPeriodStats",
    ".extract.turnpointsPastecs",
    "fapply",
    ".fapply",
    "getReturns",
    "hclustColnames",
    "interpNA",
    "isMonthly",
    "isMultivariate",
    "is.timeSeries",
    "isUnivariate",
    "midquotes",
    "midquoteSeries",
    ".naOmitMatrix",
    "newPositions<-",
    "ohlcDailyPlot",
    "orderColnames",
    "orderStatistics",
    "pcaColnames",
    ".plotOHLC",
    ".plotTimeSeries",
    ".plot.turnpointsPastecs",
    ".print.timeSeries",
    "rank.timeSeries",
    "readSeries",
    "removeNA",
    "returnSeries",
    "rollDailySeries",
    "rollMonthlySeries",
    "rollMonthlyWindows",
    "sampleColnames",
    "seriesData",
    "seriesPositions",
    ".signalCounts",
    ".signalSeries",
    "sortColnames",
    "spreads",
    "spreadSeries",
    "statsColnames",
    ".subset_timeSeries",
    "substituteNA",
    ".summary.turnpointsPastecs",
    "time<-",
    "timeSeries",
    ".timeSeries",
    ".turnpoints",
    ".turnpointsPastecs",
    ".turnpointsSeries",
    ".turnpointsStats" )
